h1, h2, h3, h4 {
    color: #000;
}

body {
    overflow: hidden;
}


.top-panel {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    background: #ccc;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    border: 1px solid #3e34a3;
    background: #bfdbbf;

    h2 {
        color: #2d3488;
        padding: 0 10px;
    }
}

.events__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100%;
    padding: 10px;
}

.event {
    display: flex;
    flex-basis: calc(25% - 20px);
    padding: 10px 0;
    margin: 10px;
    background: #fff;
}


.event__info {
    flex-basis: 100%;

    h3 {
        font: 16px/20px $regular;
        border-bottom: 1px solid #000;
        flex-basis: 100%;
        padding: 0 10px 10px 10px;
    }

    h4 {
        padding: 10px;
    }

    p {
        padding: 10px;
    }

    strong {
        padding-left: 7px;
    }
}

.event-detailed {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 0 15px;
}

.event-detailed__title {
    p {
        strong {
            padding-right: 10px;
        }
    }
}

.event-detailed__donate {
    display: flex;
    flex-basis: 100%;
    padding-top: 10px;
    
    input {
        height: 40px;
        padding: 0 10px;
        font: rem(16px, 40px) $regular;
        color: #000;
        margin-right: 10px;
        @include placeholder();
        
        &[type=number] {
            -moz-appearance: textfield;
            
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0; 
            }
        }
    }
    
    button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #539cea;
        border: none;
        outline: none;
        transition: all .2s ease;
        font-size: 30px;
        font-family: $regular;
        
        &:hover {
            cursor: pointer;
            background: #1E88E5;
        }
    }
}

.user-cabinet {
    flex-basis: 100%;
    margin-top: 15px;
    padding: 20px 10px;
    background: rgba(128, 222, 234, 0.69);
}

.recent-activities,
.users-balance {
    flex-basis: 50%;
    margin-top: 20px;
    padding: 10px 0;
    background: #fdfbfb;
    
    h3 {
        padding: 0 10px;
        padding-bottom: 10px;
        font: rem(20px, 20px) $regular;
        font-weight: bold;
    }
}

.recent-activities__list {
    padding-top: 10px;
    border-top: 1px solid #000;
}

.recent-activities__item {
    margin-bottom: 10px;
    padding: 0 10px;
    
    p {
        span {
            font: rem(14px, 14px) $regular;
            color: #232323;
            padding-left: 5px;
            
            &:nth-of-type(1) {
                font-size: 12px;
                padding-left: 0;
                color: #0D47A1;
            }
        }
        
        strong {
            padding-left: 5px;
        }
    }
}

.users-balance {
    border-left: 1px solid #000;
}

.users-balance__caption {
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-around;
    
    h5 {
        font: rem(14px, 16px) $regular;
        font-weight: bold;
        color: #000;
        flex-basis: 50%;
        border-bottom: 1px solid #000;
        text-align: center;
        padding: 5px 0;
        
        &:nth-of-type(1) {
            border-right: 1px solid #000;
        }
    }
}

.users-balance__total {
    
    p {
        padding: 5px 10px;
        text-align: right;
    }
}

.user-balance__item {
    display: flex;
    justify-content: space-around;
}

.users-balance__name,
.users-balance__sum {
    flex-basis: 50%;
    padding: 5px 10px;
}

.users-balance__sum {
    border-left: 1px solid #000;
}

.user-balance__item--in-debt {
    background: #FF8A65;
}

.user-balance__item--clear {
    background: #8BC34A;
}

.add-event {
    display: flex;
    flex-basis: 100%;
    position: relative;
    justify-content: flex-start;
}

.add-event__form {
    visibility: hidden;
    opacity: 0;
    margin-left: 10px;
    transition: transform .2s ease, opacity .2s ease;
    transform: translate(200px, 0);
    padding: 10px 15px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 140px;
    top: 0;
    box-shadow: 0 0 15px 3px #FFAB91;
    
    &.add-event__form--visible {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
    
    label {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        
        input {
            height: 36px;
            border: 1px solid #ccc;
            padding: 0 10px;
            font: rem(14px, 36px) $regular;
            color: #000;
            @include placeholder();
            margin-left: 10px;
            width: 100%;
        }
    }
}

.add-event__toggle {
    background: #78909C;
    display: flex;
    height: 40px;
    padding: 0 15px;
    font: rem(14px, 16px) $regular;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s ease;
    
    &:hover {
        cursor: pointer;
        background: #455A64;
    }
}

.add-event__form__controls {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    
    button {
        height: 36px;
        padding: 0 15px;
        background: #0288D1;
        font: rem(14px, 16px) $regular;
        color: #fff;
        text-transform: uppercase;
        transition: all .2s ease;
        
        &:hover {
            cursor: pointer;
            background: #01579B;
        }
    }
}

.dropdown {
    position: relative;
    
    input {
        height: 30px;
        background: #E0F7FA;
        font: rem(15px, 28px) $regular;
        padding-left: 5px;
    }
}

.dropdown__list {
    position: absolute;
    left: 0;
    top: 30px;
    width: 300px;
    background: #fff;
    transition: all .2s ease;
    transform: translate(40px, 40px);
    opacity: 0;
    visibility: hidden;
    box-shadow: 3px 3px 10px 5px #bbb9b9;
    
    &.dropdown__list--opened {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
}

.dropdown__values {
    width: 300px;
    cursor: pointer;
}

.dropdown__list__item__remove {
    opacity: 0;
    width: 30px;
    height: 29px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: opacity .2s ease, background .2s ease;

    &:hover {
        background: #232323;
        color: #fff;
    }
}

.dropdown__list__item {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-left: 5px;
    border-bottom: 1px solid #000;
    font: rem(15px, 28px) $regular;
    color: #000;
    transition: all .2s ease;
    cursor: pointer;
    
    &:hover {
        background: #B3E5FC;
    }
    
    &.dropdown__list__item--selected {
        .dropdown__list__item__remove {
            opacity: 1;
        }
    }
}

.dropdown__values {
    padding: 5px;
    background: #E3F2FD;
    white-space: nowrap;
    display: flex;
    align-items: center;
    
    span {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        
        &:after {
            content: ',';
            font: rem(15px, 15px) $regular;
            color: #000;
        }
        
        
        &:nth-last-of-type(1) {
            &:after {
                display: none;
            }
        }
    }
}

.add-user {
    flex-basis: 100%;
}

.auth {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    top: 50px;
    background: #B3E5FC;
    padding: 15px;

    &.auth--visible {
        display: flex;
        z-index: 1;
    }
}

.auth__toggle {
    margin: 0 15px;
    background: #fff;
    height: 40px;
    color: #000;
    padding: 0 10px;
    cursor: pointer;
    font: rem(15px, 40px) $regular;
}

.auth__tab {
    display: none;
    flex-wrap: wrap;
    width: 300px;
    padding-top: 30px;
    position: relative;
    overflow: hidden;

    &.auth__tab--visible {
        display: flex;
    }

    input {
        width: 100%;
        font: rem(15px, 40px) $regular;
        color: #000;
        background: #fff;
        border: 1px solid #000;
        padding: 0 15px;
    }
}

.auth__tab__input {
    flex-basis: 100%;
    margin: 5px 0;
    margin-bottom: 15px;
    position: relative;
    
    &:after {
        content: attr(data-error);
        position: absolute;
        left: 0;
        bottom: -17px;
        color: red;
        font: rem(11px, 14px) $regular;
    }
}

.auth__tab__submit {
    display: flex;
    height: 40px;
    align-content: center;
    justify-content: center;
    background: blue;
    margin-top: 10px;
    font: rem(14px, 40px) $regular;
    text-transform: uppercase;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    transition: all .2s ease;
    
    &:hover {
        cursor: pointer;
        background: #2196F3;
    }
}

.auth__tabs__controls {
    display: flex;
    flex-basis: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-around;
}

.auth__tab__control {
    display: flex;
    flex-basis: 50%;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.auth__tab__control--active {
    background: #3580f5;
}

.auth__tabs {
    flex-basis: 100%;
    flex-wrap: wrap;
}

.auth__tab__success {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    transform: translate(0, -100%);
    transition: all .2s ease;
    z-index: 1;
    
    h4 {
        font: rem(20px, 24px) $regular;
        color: #000;
        margin-bottom: 20px;
    }
    
    &.auth__tab__success--visible {
        transform: translate(0, 0);
    }
}

.user-info {
    padding: 0 15px;
    color: #1c18bd;
    display: flex;
    align-items: center;
}

.personal-cab {
    display: flex;
    align-items: center;
}

.user__logout {
    height: 40px;
    padding: 0 15px;
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font: rem(15px, 40px) $regular;
    text-transform: uppercase;
    margin: 0 15px;
    background: #FF5722;
    cursor: pointer;
}